body {
  min-height: 100vh;
}

body > header {
  padding: 0.25em;
  display: flex;
  flex-flow: row wrap;
  font: 1em Helvetica, sans-serif;
  align-items: baseline;
  background-color: darkgrey;
  color: white;
}

body > header > h1 {
  display: block;
  margin: 0 0.8em;
  font-size: 1.5em;
  font-weight: bold;
}

body > header > h2 {
  font-size: 1.2em;
  margin-right: 0.4em;
  font-weight: bold;
}

.navbar-top {
  padding: 0.2em;
}

.navbar-top > ul {
  display: flex;
  flex-flow: row wrap;
}

.navbar-top li {
  display: block;
  padding: 0.3em;
}

body > footer {
  background-color: darkgrey;
  padding: 0.5em;
  font: 1em Helvetica, sans-serif;
  color: white;
}

main {
  padding: 0.5em 1em;
  font: 1em Helvetica, sans-serif;
  max-width: 60em;
}

main > h1 {
  margin: 0.8em 0.25em;
  font-weight: bold;
  font-size: 1.6em;
}

main > h2 {
  margin: 1.5em 0.2em;
  font-weight: bold;
  font-size: 1.2em;
}

.albums-list {
  display: flex;
  flex-flow: column nowrap;
}

.album-listing {
  background-color: lightgrey;
  margin: 0.4em;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
}

.album-listing-content {
  padding: 0.5em;
}

.album-listing-content > h1 {
  margin: 0.2em 0.2em;
  font-weight: bold;
  font-size: 1.2em;
}

.album-listing-content > h2 {
  margin: 0.2em 1.3em;
  font-style: italic;
  font-size: 1em;
}
