<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Add album</title>
</head>
<body>

<section class="add-album" th:fragment="add-album">
    <form action="/albums" method="post" enctype="multipart/form-data">
        <fieldset>
            <label for="add-album-title">Title:</label>
            <input id="add-album-title" type="text" name="title"></input>
        </fieldset>
        <fieldset>
            <label for="add-album-artist">Artist:</label>
            <input id="add-album-artist" type="text" name="artist"></input>
        </fieldset>
        <fieldset>
            <label for="add-album-songcount">Song Count:</label>
            <input id="add-album-songcount" type="number" name="songCount"></input>
        </fieldset>
        <fieldset>
            <label for="add-album-length">Album length:</label>
            <input id="add-album-length" type="number" name="length"></input>
        </fieldset>
        <fieldset>
            <label for="add-album-image">Upload album image:</label>
            <input id="add-album-image" type="file" name="image" accept="image/svg, image/png, image/jpg"></input>
        </fieldset>

        <input type="submit" value="Submit"></input>
    </form>
</section>

</body>
</html>