<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:replace="partials/header :: header"></header>
<main>
    <h1>Albums</h1>
    <div class="albums-list">
        <div th:each="album : ${albums}">
            <div th:replace="partials/album :: listing(album=${album})"></div>
        </div>
    </div>
    <h1>Add new album</h1>
    <div th:replace="partials/album :: add"></div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>